---
layout: default
title: Academic Standing (tags)
permalink: /as_tags/
---

<style>
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h2.no-margin{
  margin:0;
}
h1.blue{
  margin: 0;
  padding: 0;
  line-height: 0.1em;
  color:#001273;
}
</style>

<a style='text-align:right; display:block;' href="https://www.catherineslaughter.space/as_time/">Sort Chronologically</a>

<h1 style='text-align:center' class = 'blue'><a href="https://www.catherineslaughter.space/academic_standing/">Academic Standing</a><h1>
<h2 style='text-align:center' class = 'no-margin'>All Posts</h2>
<br><br>

<h2>Tags:</h2>

{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  {% assign zz = tag | where: 'category', 'as_blog' | sort %}
{% endfor %}

{% if zz != empty %}
  {% for p in zz %}
  <h3>{{ p.title }}</h3>
  {% endfor %}
{% endif %}
