---
layout: default
---

<style>
h2.no-margin{
  margin-bottom: 0px;
}
</style>

<a href='https://www.catherineslaughter.space/mrp_blog/'>Back to post list</a>
<br><br>

<h2 class="no-margin">{{ page.title }}</h2>
<p>{{ page.date | date_to_string }}</p>

{{ content }}


<script src="https://utteranc.es/client.js"
        repo="catieslaughts/catieslaughts.github.io"
        issue-term="pathname"
        label="AC-comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
